body{
  /* background-color: sandybrown; */
  background-color: #396f85;
  width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
p{
  text-align: left;
  margin-left: 25px;
  font-size: 12pt;
  margin-bottom: 5px;
}
b{
  color: gainsboro;
}

/*Login Page*/
.center-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  border-radius: 30px;
  width: 325px;
  height: 350px;
  text-align: center;  
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: white;
}

/* signup page*/
.center-box2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  border-radius: 30px;
  width: 350px;
  height: 405px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
}

/*  password strength checker */
.center-box2 .password-policies{
	position: relative;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	padding: 0px;
	height: 0px;
	background: #241a1a;
	border-radius: 5px;
	margin-top: 1px;
	box-sizing: border-box;
	opacity: 1;
	overflow: hidden;
	transition: height 300ms ease-in-out,
				opacity 300ms ease-in-out;	
	font-size: 10pt;
}

.center-box2 .password-policies.active {
	opacity: 1;
	padding: 10px;
	height: 180px;
}

.center-box2 .password-policies > div {
	margin: 10px 5px;
	font-weight: 500;
	color: #888;
}

.center-box2 .password-policies > div.active{
	color: #111;
}
/* text field */
.text-field{
  padding: 1px 3px;
  width: 270px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 12pt;
  color: black;
}
.text-field1{
  padding: 1px 3px;
  width: 290px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 12pt;
  color: black;
}

/* btn color and style*/
.btn-style{
  padding: 10px 30px;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 15px;
  background-color: white;
  color: black;
  font-size: 17px;
}
.btn-style:hover{
  background-color: #396f85;
  color: white;
}


/* text color*/
.an-btn{
  margin-top: 10px;
  border: 0;
  background-color: #396f85;
  color: white;
  font-size: 11pt;
}

#register-div{
  display: none;
}

#result-box{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16pt;
  color: white;
}