body{
	width: 100%;
	height: 100%;
    background-color: grey;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	position: absolute;
	top: 50%;
	left: 50%;
	background: rgb(255, 255, 255);
	width: 300px;
	height: 350px;
	text-align: center;
	padding: 20px 30px;
	border: 1px solid black;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	transform: translate(-50%, -50%)
}

.container header{
	font-size: 24px;
	font-weight: 6000;
}

.form{
	width: 300px;
}

.form .form-element{	
	position: relative;
}

.form .form-element input{
	height: 100%;
	width: 250px;
	border: 1px solid lightgrey;
	padding-left: 15px;
	outline: none;
	border-radius: 5px;
	font-size: 17px;
	box-sizing: border-box;
	border-radius: 50px;
	text-indent: 2px;
}

.form .form-element .input-password{ 
	display: flex;
	position: relative;
	padding: 10px 30px;
}

.form .form-element .input-email{ 
	display: flex;
	position: relative;
	padding: 10px 30px;
}

.form .form-element .input-username{ 
	display: flex;
	position: relative;
	padding: 10px 30px;
}

.form .form-element .input-password .showBtn{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
}

.form .form-element input:focus{
	border-color: aqua;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);	
}

/* #message{
	position: absolute;
	border: -30px;
	color: #fff;
	font-size: 15px;
	display: none;
} */

.form .form-element .password-policies{
	position: relative;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	padding: 0px;
	height: 0px;
	background: #241a1a;
	border-radius: 5px;
	margin-top: 1px;
	box-sizing: border-box;
	opacity: 1;
	overflow: hidden;
	
	font-size: 10pt;
}

.form .form-element .password-policies.active {
	opacity: 1;
	padding: 10px;
	height: 150px;
}

.form .form-element .password-policies > div {
	margin: 10px 5px;
	font-weight: 500;
	color: #888;
}
.form .form-element .password-policies > div.active{
	color: #111;
}

.btn-signup{
	margin-top: 10px;
	border: 0;
	background-color: black;
	color: white;
	font-size: 10pt;
	
	border-radius: 5px;
}

.btn-login{
	margin-top: 10px;
	border: 0;
	background-color: black;
	color: white;
	font-size: 10pt;	
	border-radius: 5px;
}

.btn-login:hover{
	background-color: aqua;
	color: aliceblue;
}

.btn-signup:hover{
	background-color: aqua;
	color: aliceblue;
}
